<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  
  <body>
    <h3>演示带根目录的Controller，每个方法映射一个URL</h3>
    <p>
       <a href="hello/hello_world" target="blank">hello_world</a><br/>
       <a href="hello/easy_hello_world" target="blank">easy_hello_world</a><br/>
       <a href="hello/hello_world?egg=egg" target="blank">hello_world?egg=egg</a><br/>
       <a href="hello/redirect_to_helloworld" target="blank">浏览器端跳转到hello_world</a><br/>
       <a href="hello/forward_to_helloworld" target="blank">服务器端跳转到hello_world</a><br/>
       <br />
       <a href="validate_param?name=nicdk&email=33@fds.com" target="blank">表單驗證例子</a> <br/>
       <a href="chinese_json?name=测试" target="blank">中文传参并吐出json</a>
    </p>
    
    <h3><a href="velocity_index" target="blank">velocity演示</a></h3>
    
    <h3>Cars和Form演示</h3>
    <p><a href="list_cars" target="blank">carList</a>
       <a href="new_car" target="blank">newCar</a>
       <a href="new_car_ognl" target="blank">newCar_OGNL</a>
    </p>
    
    <h3><a href="json" target="blank">Json输出演示</a></h3>
    
    <h3>Restful演示</h3>
    <p><a href="nick/page/1" target="blank">nick page 1</a>
       <a href="nick/page/2" target="blank">nick page 2</a>
       <a href="nick/page/3" target="blank">nick page 3</a> <br/>
       <a href="awoo/page/1" target="blank">awoo page 1</a>
       <a href="awoo/page/2" target="blank">awoo page 2</a>
       <a href="awoo/page/3" target="blank">awoo page 3</a>
    </p>
    
    <h3>上传文件</h3>
    <p>
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" />
        <input type="submit" />
      </form>
    </p>
    
    <h3>复杂的表单（数组、form）</h3>
    <p><a href="cplx_form" target="blank">复杂的表单</a></p>
  
    <h3>modelAttribute例子</h3>
    <p><a href="test_model_attribute?name=nick&processedName=karen&age=23" target="blank">test model attribute</a></p>
  
    <h3>异常处理例子</h3>
    <p>
       <a href="test_exception" target="blank">test_exception</a>
       <a href="test_runtime_exception" target="blank">test_runtime_exception</a>
    </p>
    
    <h3>自定义入参形式</h3>
    <p>
       <a href="test_converter?date=2015-01-18" target="blank">test_converter</a>
    </p>
    
    <h3>测试initBinder</h3>
    <p>
       <a href="test_init_binder?name=nick&age=23" target="blank">age参数不会设置进去</a>
    </p>
    
    <h3>Spring mvc内部允许情况</h3>
    <p>
        <a href="./endPoints" target="blank">查看spring mvc所有RequestMapping</a>
    </p>
  </body>
</html>
