<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        welcome $!{userName}
        
        <br />
        #set($userName = "karen")
        welcome $!{userName}
        
        <br />
        student_id:${student.id},name:${student.name}
        <br />
        student_id:${student.getId()},name:${student.getName()}
    
        <br />
        loop:
        <br />
        #set($list=["pine","oak","maple"])
        #foreach($element in $list)
            $velocityCount
            This is $element.<br/>
        #end
    </body>
</html>