#set($page_title="velocity index")

        welcome $!{userName}
        
        <br />
        #set($userName = "karen")
        welcome $!{userName}
        
        <br />
        student_id:${student.id},name:${student.name}
        <br />
        student_id:${student.getId()},name:${student.getName()}
    
        <br />
        loop:
        <br />
        #set($list=["pine","oak","maple"])
        #foreach($element in $list)
            $velocityCount
            This is $element.<br/>
        #end
        
        <p>
            <a href="./velocity_condition">条件演示</a><br/>
            <a href="./velocity_loop">循环演示</a>
        </p>