<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>条件循环</title>
    </head>
    <body>
        <h2>遍历List</h2>
        <p>
        #foreach($element in $list)
            $velocityCount
            This is $element.<br/>
        #end</p>
        
        <h2>遍历map</h2>
        <p>
        #foreach($key in $map.keySet())
            <li>Key: $key -> Value: $map.get($key)</li>
        #end
        </p>
    </body>
</html>