<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">
    
    <!-- 切面实现类 -->
    <bean id="log" class="spring_basic.aop_xml_basic.LogAround"/>
    
    <!-- 需要注入的实现类 -->
    <bean id="customerBo" class="spring_basic.aop.impl.CustomerBoImpl"/>
    
    <!-- 注入的配置，实际使用中，customerBoProxy的类型就是spring_basic.aop.CustomerBo -->
    <!-- 【重要】拦截的是目标bean的所有方法，很重要的一个点是，像Object的toString这种方法也被拦截到了 -->
    <bean id="customerBoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 代理成的接口,如果这个接口没有填写，spring会默认拿target的bean的接口 -->
        <!-- 所以这个接口不写，也是推荐的，减少书写出错 -->
<!--         <property name="proxyInterfaces">  -->
<!--             <value>spring_basic.aop.CustomerBo</value> -->
<!--         </property> -->
        <property name="target"> <!-- 目标实现类 -->
            <ref bean="customerBo"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>log</value>
            </list>
        </property>
    </bean>
</beans>
