<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- 注解，Aspect类要增加@Component -->
    <context:component-scan base-package="spring_basic.aop" />
	
	<!-- 启动 @AspectJ注解的支持, -->
	<!-- 这里设置自动代理，意味着，代理对象会代替原来的对象，@Autowired是不用加@Qualifier了 --> 
	<aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>
